<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UUDISED
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Balteco Eesti võistkondlikud MV 2019/2020.a. jätkuvad / lisatud tabelid ja ajakava!</ion-card-title>
      <ion-card-subtitle>03/06/2020</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>Vastavalt Eesti Lauatenniseliidu juhatuse otsusele </p>
        <br />
        <p>Balteco Eesti võistkondlikud meistrivõistlused 2019-2020 mängitakse lõpuni.
        <br /> 
        Kohad selgitatakse välja (play off toimub), üleminekumänge ei toimu, liigades liikumisiei toimu.</p>
        <br />
        <p>Mängupäevad toimuvad alljärgnevalt:</p>
        <p>KÕRGLIIGA ja NAISKONNAD.
        <br />
        4.juulil algusega kell 11.00 Viljandi Spordihoones(Vaksali 4, Viljandi)
        <br />
        5.juulil algusega kell 10.00 PLAY-OFF
        <br />
        <strong>NB ! Seoses tee remondiga tuleb Viljandi Spordihoone juurde sõita Kaalu tänava kaudu ehk turu poolt.</strong>
        <br /><br />
        II LIIGA ja III LIIGA
        <br />
        4.juulil algusega kell 11.00 Suure-Jaani Gümnaasiumi Spordihoones
        <br />
        I LIIGA ja IV LIIGA
        <br />
        5.juulil algusega kell 11.00 Pärnu- Jaagupi Spordikeskuses
        <br />
        V Liiga
        <br />
        5.juulil algusega kell 11.00 Haapsalu Spordikeskuses</p>
        <br />
        <p>Kuna Viljandis peetakse võistlus kahel järjestikusel päeva, siis lisast on leitavad ka võimalikud ööbimise variandid Viljandi hotellides.</p>
        <br />
        <p>Mängijate nimekirjad ja eelmiste mängupäevade tulemused leiate siit:&nbsp;
        <br />
        <a rel="noreferrer noopener" href="https://uus.lauatennis.ee/balteco-eesti-voistkondlikud-mv-4-mangupaeva-ajakava/" target="_blank">https://uus.lauatennis.ee/balteco-eesti-voistkondlikud-mv-4-mangupaeva-ajakava/</a></p>
    </ion-card-content>
    
    <ion-button expand="full" size="large" (click)= "backClicked()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Tagasi uudiste juurde
    </ion-button>

  </ion-card>

</ion-content>
