<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UUDISED
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Balteco Eesti võistkondlikud MV 2019/2020.a. jätkuvad / lisatud tabelid ja ajakava!</ion-card-title>
      <ion-card-subtitle>03/06/2020</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Vastavalt Eesti Lauatenniseliidu juhatuse otsusele Balteco Eesti võistkondlikud meistrivõistlused 2019-2020 mängitakse lõpuni. Kohad selgitatakse välja (play off toimub), üleminekumänge ei toimu, liigades liikumisi ei toimu.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Treeneri kutse taotlemiseks ja taastaotlemiseks dokumentide esitamine on avatud!</ion-card-title>
      <ion-card-subtitle>27/05/2020</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Dokumentide vastuvõtt kutse taotlemiseks ja taastaotlemiseks on spordiregistri keskkonnas avatud kuni 7.juunini. Hindamine ja eksam toimub 28.juunil 2020. Kogu info treeneri kutse taotlemise kohta leiate siit
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Siseruumides treenimine alates 18. maist</ion-card-title>
      <ion-card-subtitle>15/05/2020</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Vabariigi Valitsuse 14. mai 2020. aasta korraldusega on lubatud alates 18. maist sporditegevuse jätkamine siseruumides, kui ruumi täituvus on 50% tavapärasest täituvusest ning grupi suurus on kuni 10 inimest. 
    </ion-card-content>
  </ion-card>

</ion-content>
